//- //- buffered code (code that returns something)
//- h1= tour.toUpperCase()  

//- //- unbuffered code (code that doesnt return anything)
//- - const x = 2

doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: http://127.0.0.1:3000 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700', rel='stylesheet')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
      title Natours | #{title || 'All Tours'}
  body
    // HEADER
    include _header

    // MAIN
    block content 

    // FOOTER
    include _footer

  //- script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
  //- script(src="/js/mapBox.js") 
  //- script(src="/js/login.js") 
  script(src="/js/bundle.js")